<button class="btn btn-outline-primary" routerLink="/create-shipper">Add Shipper</button>

<button class="btn btn-outline-primary" routerLink="/shipper-list">List Shippers</button>


<div class="container">
  <h2>Northwind Shippers</h2>
  <router-outlet></router-outlet>
</div>




<router-outlet></router-outlet>
